.contenBox {
    position: absolute;
    top: 70px;
    color: #fff;
}
.fillcontain{
    min-width: 960px;
}
.topBanner{
    height: 300px;
    background:linear-gradient(180deg,rgba(47,112,255,1) 0%,rgba(40,142,255,1) 100%);
}
.content-main.topBg{
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 30px;
    p{
        font-size: 20px;
        font-family:PingFangSC-Semibold;
        font-weight:600;
        color:#fff;
        line-height:25px;
        letter-spacing: 5px;
        //margin-right: 200px;
    }
    img{
        margin-top: 80px;
    }
}
.content-main{
   width: 900px;
    padding: 0 30px;
    margin: 0 auto;
}
.noselect {

    -webkit-touch-callout: none; /* iOS Safari */

    -webkit-user-select: none; /* Chrome/Safari/Opera */

    -khtml-user-select: none; /* Konqueror */

    -moz-user-select: none; /* Firefox */

    -ms-user-select: none; /* Internet Explorer/Edge */

    user-select: none;
    /* Non-prefixed version, currently

   not supported by any browser */

}
a{
    text-decoration: none;
    color: #fff;
}
body, div, span, header, footer, nav, section, aside, article, ul, dl, dt, dd, li, a, p, h1, h2, h3, h4,h5, h6, i, b, textarea, button, input, select, figure, figcaption {
    padding: 0;
    margin: 0;
    font-style: normal;
    text-decoration: none;
    border: none;
    font-family: "Microsoft Yahei",sans-serif;
    -webkit-tap-highlight-color:transparent;
    -webkit-font-smoothing: antialiased;
    &:focus {
        outline: none;
    }
}
.content {
    color: #fff;
}
.header_container{
    width: calc(~'100% - 60px');
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:10px 30px ;
    .logoBox{
        display: flex;
        align-items: center;
        font-size: 18px;
        font-family:PingFangSC-Semibold;
        font-weight:600;
        color: #fff;
        img{
            width: 40px;
            margin-right: 15px;
        }
    }
    .topNewBox{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .menuBtn{
            color: #fff;
            padding:5px 10px;
            margin-left: 10px;
            font-size: 14px;
            cursor: pointer;
        }
        .menuBtn.act{
            background: #fff;
            border-radius: 19px;
            color: #0A35EC;
            font-weight: bold;
        }
    }

}


